@font-face {
  font-family: "Karla";
  src: url("./src/assets/fonts/Karla-VariableFont_wght.woff2");
}

@font-face {
  font-family: "Inter";
  src: url("./src/assets/fonts/Inter-VariableFont_slnt_wght.woff2");
}

/* ------------------- CSS Reset ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

*:focus-visible {
  outline: 0.125rem dotted #91aecf;
  outline-offset: 0.125rem;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  font: inherit;
}
/* ------------------- End of CSS Reset ------------------- */

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: hsl(0, 0%, 95%);
  background-color: hsl(227, 10%, 26%);
  padding: 1rem;
}

.main {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: hsl(213, 13%, 14%);
  border-radius: 8px;
  padding: 1.5rem;
}

.title {
  font-size: 2rem;
}

.text {
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 85%);
}

.die-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.die {
  width: 2.25rem;
  height: 2.25rem;
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 4px 2px rgba(100, 100, 100, 0.4);
}

.die:active {
  cursor: pointer;
  transform: scale(1.1);
}

.is-held {
  background-color: hsl(144, 71%, 62%);
}

.btn__roll {
  font-size: 1.25rem;
  font-weight: 900;
  color: hsl(0, 0%, 95%);
  background-color: hsl(248, 94%, 60%);
  border: none;
  border-radius: 4px;
  padding: 0.75rem 2.5rem;
}

.btn__roll:active {
  cursor: pointer;
  background-color: hsl(248, 94%, 65%);
}

/* ------------------- Media Queries ------------------- */
@media (hover: hover) {
  .die:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .btn__roll:hover {
    cursor: pointer;
    background-color: hsl(248, 94%, 65%);
  }
}

@media (min-width: 22rem) {
  .die {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (min-width: 36rem) {
  .die {
    width: 5rem;
    height: 5rem;
  }
}
